
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --heading: black;
    --bg:rgb(249 249 255);

}

html{
    font-size: 60%;
}
h1,h2,h3,h4 
{
    font-family: 'Poppins', sans-serif;
}
h1{
    color: var(--heading);
    font-size: 6rem;
    font-weight: 600;
}
h3{
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 10px;
}
li{
    list-style: none;
}

.header{
    padding: 0 48px;
    height : 100px;
    background-color: var(--bg);
   /* background: red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    height: 30px;
}
.navbar-lists {
  display: flex;
  gap: 4.8rem;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
  transition: color 0.3s linear;
}